{% extends "@shared/base.html" %} 

{% block title %}Login{% endblock %} 

{%block head %} 
    {{ parent() }}
    <link rel="stylesheet" href="src/assets/css/signIn.css" />
{% endblock %} 

{% block content %}
<section class="signIn">
  <div class="photo"></div>
  <div class="signIn-content">
    <header>
      <h2>Entrar</h2>
      <p>Faça o login para navegar na plataforma</p>
    </header>

    {% if status != 0 %}
      <div>
        {% if status == 200 %}      
          <div class="alert alert-success" role="alert">
            {{ message }}
          </div>
        {% else %}
          <div class="alert alert-danger" role="alert">
            {{ message }}
          </div>
        {% endif %}
      </div>
    {% endif %}

    <form 
      method="post"
      action={{ route("/auth-user") }}
      >
      <div class="form-control">
        <label for="email">Email: </label>
        <input 
          type="text" 
          name="email"
          placeholder="example@gmail.com" 
          required
          />
      </div>

      <div class="form-control">
        <label for="password">Password: </label>
        <input 
          type="password" 
          name="password"
          placeholder="Password" 
          required
          />
      </div>

      <button>Entrar</button>

      <p>Não tenho uma conta <a href={{ route("/signUp") }}>Criar conta</a></p>
    </form>
  </div>
</section>
{% endblock %}
