<!DOCTYPE html>
<html lang="pt-pt">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Speak With Us</title>

    <link
      rel="stylesheet"
      href="/speak_with_us/src/assets/admin/vendors/mdi/css/materialdesignicons.min.css"
    />
    <link
      rel="stylesheet"
      href="/speak_with_us/src/assets/admin/vendors/css/vendor.bundle.base.css"
    />

    <link
      rel="stylesheet"
      href="/speak_with_us/src/assets/admin/vendors/select2/select2.min.css"
    />
    <link
      rel="stylesheet"
      href="/speak_with_us/src/assets/admin/vendors/select2-bootstrap-theme/select2-bootstrap.min.css"
    />

    <link rel="stylesheet" href="/speak_with_us/src/assets/admin/css/style.css" />
    <link rel="stylesheet" href="/speak_with_us/src/assets/admin/css/main.css" />

    {% block styles %}{% endblock %}
  </head>
  <body>
    {% block content %}{% endblock %}

    <script src="/speak_with_us/src/assets/admin/vendors/js/vendor.bundle.base.js"></script>

    <script src="/speak_with_us/src/assets/admin/vendors/select2/select2.min.js"></script>
    <script src="/speak_with_us/src/assets/admin/vendors/typeahead.js/typeahead.bundle.min.js"></script>

    <script src="/speak_with_us/src/assets/admin/js/off-canvas.js"></script>
    <script src="/speak_with_us/src/assets/admin/js/hoverable-collapse.js"></script>
    <script src="/speak_with_us/src/assets/admin/js/misc.js"></script>
    <script src="/speak_with_us/src/assets/admin/js/settings.js"></script>
    <script src="/speak_with_us/src/assets/admin/js/todolist.js"></script>

    <script src="/speak_with_us/src/assets/admin/js/file-upload.js"></script>
    <script src="/speak_with_us/src/assets/admin/js/typeahead.js"></script>
    <script src="/speak_with_us/src/assets/admin/js/select2.js"></script>

    {% block scripts %}{% endblock %}
  </body>
</html>
